.automotive-img {
    min-height: 500px;
    background: url('../images/automotive/automotive-bg.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.automotive-img .name-page {
    font: 400 60px/73px 'montserratregular';
    color: #fff;
    text-transform: uppercase;
}
.automotive-text {
	font:18px/27px 'Open Sans', sans-serif;
	color:#221e22;
	padding:84px 0 110px;
}
.automotive-text h3 {
    font: 400 24px/1.33 'montserratregular';
	color:#221e22;
	margin:0 0 45px;
}
.automotive-text p { margin:0 0 40px;}
.automotive-text ul {
	margin:0;
	padding:0;
	list-style:none;
}
.automotive-text ul li {
	padding:0 0 0 40px;
	position:relative;
}
.automotive-text ul li:after {
	content:"";
	display:block;
	width:5px;
	height:5px;
	background:#221e22;
	position:absolute;
	top:11px;
	left:14px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow:hidden;
}

@media (max-width: 768px) {
    .automotive-img {
        height: 100vh;
        background: url('../images/automotive/automotive-mobile-bg.png') no-repeat;
        background-size: cover;
    }