@import "style.css";

.header-challenge {
    padding: 125px 0 36px;
    text-align: center;
}
.header-challenge h1 {
    color: #444;
    font: 600 28px/42px 'montserratregular', Arial, Helvetica, sans-serif;
}
.header-challenge .subheader {
    text-transform: capitalize;
    color: #888;
    letter-spacing: 1px;
    font: 300 20px/23px 'Open Sans', Arial, Helvetica, sans-serif;
}
.challenge-wrap-1 {
    width: 60%;
    margin: 0 auto;
}
.challenge-text {
    margin: 0 auto;
    padding: 0;
    color: #676767;
}
@media only screen and (max-width: 725px) {
    .challenge-wrap-1 {
        width: 90%;
    }
    .header-challenge {
        padding-top: 100px;
        padding-bottom: 0;
        width: 80%;
        margin: 0 auto;
    }
    .header-challenge .subheader {
        display: none;
    }
    .challenge-text {
        padding: 0 5%;
    }
}
.description-prog:first-child {
    padding-top: 40px;
}

.box-bg-2 {
    background-size: cover;
    background-position: center;}
.box-bg {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .6s cubic-bezier(0.24, 1, 0.30, 1);
    -webkit-transition: all .6s cubic-bezier(0.24, 1, 0.30, 1);
}
.left-img {
    background: url("../images/challenge/box-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.right-img {
    background: url("../images/challenge/box-bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.box-bg:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: ' ';
    background-color: rgba(51,51,51,0.5);
    transition: all .6s cubic-bezier(0.24, 1, 0.30, 1);
    -webkit-transition: all .6s cubic-bezier(0.24, 1, 0.30, 1);
}
.row-box {
    text-align: center;
    position: relative;
    padding: 0 0 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
.row-box .fancy-box {
    width: 48.9362%;
    color: #fff;
    display: inline-block;
    padding: 2% 5% 5%;
    text-align: left;
    position: relative;
    overflow: hidden; }
.row-box .fancy-box:first-child {
    margin-right: 25px; }
.row-box .fancy-box:last-child .inner {
    min-height: 160px;
}
.row-box .fancy-box:last-child .link-text {
    line-height: 27px;
}
.row-box .fancy-box .inner {
    min-height: 218px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    text-align: left;

}
.row-box .fancy-box .inner h6 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin: 20px 0 0;
    font-weight: normal;
}
.row-box .fancy-box .inner h2 {
    font: 600 22px/36px 'montserratregular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .5px;
    margin: 0; }
.row-box .fancy-box .link-text {
    font: 14px/17px 'montserratregular', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 10; }
.fancy-box .closed {
    text-transform: uppercase;
    background: rgba(199, 199, 199, .8);
    line-height: 30px;
    width: 234px;
    text-align: center;
    padding: 0 10px;
    font: 15px/44px 'montserratregular';
}
.fancy-box .closed i {
    margin-right: 10px;
}
.fancy-box:hover .closed {
    background: #D62E2E;
}
.row-box .fancy-box .link-text .arrow {
    line-height: 26px!important;
    font-size: 14px!important;
    font-family: FontAwesome!important;
    opacity: 1;
    position: relative;
    display: inline-block;
    margin-left: 16px;
    top: 2px;
    transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
    -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
    overflow: visible;
    height: 26px;
    width: 26px;
    border-radius: 100px;
    text-align: center;
    border: 2px solid rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.7);
}

.link-text .arrow:after {
    display: block;
    content: ' ';
    position: absolute;
    width: 26px;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    left: -6px;
    cursor: pointer;
    transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
    -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
    pointer-events: none;
    top: 11px;
    transform: translateX(-27px);
    -webkit-transform: translateX(-27px);
}
.fancy-box:hover .link-text .arrow {
    border-color: transparent;
}
.fancy-box:hover .link-text .arrow i {
    transform: translateX(9px);
    -webkit-transform: translateX(9px);
    display: block;
    color: rgba(255,255,255,1);
}
.fancy-box:hover .link-text .arrow:after {
    opacity: 1;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
}
.row-box .fancy-box .link-text .arrow i {
    position: relative;
    right: -2px; }
.row-box .fancy-box:after {
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    background: #388e3c;
    z-index: 5;
    transform: scaleX(0) translateZ(0);
    -webkit-transform: scaleX(0) translateZ(0);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transition: 0.45s cubic-bezier(0.24, 1, 0.30, 1);
    transition: 0.45s cubic-bezier(0.24, 1, 0.30, 1);
}
.fancy-box:hover .box-bg {
    transform: scale(1.13);
    -webkit-transform: scale(1.13);
}
.fancy-box:first-child:hover:after {
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
}
.fancy-box:hover .box-bg:after {
    background-color: rgba(51,51,51,0);
}
@media only screen and (max-width: 992px) {
    .row-box {
        display: block;
    }
    .row-box .fancy-box {
        width: 70%;
        margin-bottom: 25px;
        padding: 5%; }
    .row-box .fancy-box:first-child {
        margin-right: 0; } }
@media only screen and (max-width: 480px) {

    .row-box .fancy-box {
        width: 90%;
        padding: 8%; }
}

/* challenge2.html */
.container-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #221e22;
	font-size:16px;
}
.challenge-bn {
    background: url('../images/challenge/challenge-bn.png') no-repeat 50% 0;
    background-size: 100% 100%;
    height: 509px;
    overflow: hidden;
    position: relative;
}
.challenge-bn-down {
    position: absolute!important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 0 30px;
}
.challenge-bn-down .left-data {
    padding-bottom: 33px;
}
.challenge-bn-down .right-data {
    padding-bottom: 30px;
}
.challenge-bn-down .right-data div {
    background: #ee5622;
    display: inline-block;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    margin-right: 10px;
}
.challenge-bn-down .left-data img {
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}
.challenge-bn-down .center-data {
    width: 305px;
    line-height: 60px;
    background: rgba(255, 255, 255, .2);
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    margin: auto;
    font-size: 35px;
    font-family: 'montserratregular';
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.challenge-bn:before {
    display: none;
}
.challenge-bn-title {
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'montserratregular';
    margin: 140px 0 20px;
    font-size: 40px;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
}
.challenge-bn-sub {
    display: block;
    text-align: center;
    color: #fff;
    font: 400 26px/30px 'Open Sans';
    position: relative;
    z-index: 10;
}
/* map */
.map-section {
    padding: 82px 0;
    background-image: linear-gradient(to bottom, #e9e9e9, #ffffff);
}
.map-holder {
    width:100%;
    height: auto;
    margin: 80px 0 0;
    position: relative;
    text-align: center;
}
.map-holder>img {
    width: 100%;
}
.map-holder .point {
    width: 35px;
    height: 35px;
    background-color: #ee5622;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.44);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.2px;
    display: block;
    text-align: center;
    line-height: 34px;
    position: absolute;
    top: 33%;
    left: 59%;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
}
.map-dropdown {
    width: 300px;
    height: 195px;
    background: rgba(0, 0, 0, .63);
    display: none;
}
.map-sticker-holder {
    position: absolute;
}
.map-sticker:hover {
    cursor: pointer;
}
.map-sticker-holder:hover:before {
    width: 54px;
    height: 54px;
    opacity: 0.64;
    background-color: #ee5622;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 10;
    content: '';
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    top: -10px;
    left: -10px;
}
.map-sticker-holder.small:hover:before {
    top: -12px;
    left: -12px;
}
.map-sticker {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    background-color: #ee5622;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.44);
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #ffffff;
    z-index: 12;
    position: relative;
}
.map-sticker-holder.small .map-sticker {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.map-sticker-holder.xl .map-sticker {
    width: 50px;
    height: 50px;
}
.map-sticker-holder.xl:hover:before {
    width: 69px;
    height: 69px;
}
.map-sticker-holder:hover .map-sticker {
    font-size: 13px;
    font-weight: normal;
    font-family: 'montserratregular';
}
.map-holder .map-popup-img {
    width:60px;
    height: 34px;
    margin: 8px 4px;
}
.map-sticker-holder:hover .map-popup {
    visibility: visible;
    left: 24px;
}
.map-sticker-holder:hover .scrollable {
    visibility: visible !important;
}
.map-popup {
    width:300px;
    position: absolute;
    left: -9999px;
    top: 20px;
    background: rgba(0,0,0,0.6);
    padding: 3px 8px;
    visibility: hidden;
    z-index: 20;
}
.map-popup-inner {
    width: 100%;
    overflow-y: auto;
    height: 200px;
    cursor: pointer;
    text-align: left;
}

.map-popup-inner::-webkit-scrollbar {
    width: 6px;
}

.map-popup-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.map-popup-inner::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.map-sticker-holder[name="China"] .map-popup,
.map-sticker-holder[name="Australia"] .map-popup,
.map-sticker-holder[name="India"] .map-popup {
    left: inherit;
    right: 0;
}
/* scroll map */
.scrollable {
    visibility: hidden !important;
    height: 200px;
    overflow: hidden; }

.vscroll-bar {
    width: 2px !important; }

.vscroll-line {
    width: 2px !important; }

.vscroll-slider {
    border-radius: 4.5px;
    left: 0;
    width: 2px !important;
    background: #d3e0e7; }



.map-holder .scroll-down i {
    color: #000;
}
h3 {
    font-family: 'montserratregular';
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #000000;
}
.arrow-scroll-down {
    position: relative;
    width:20px;
    margin: 0 auto;
    height: 30px;
    display: block;
    transition: 0.5s linear;
}
.arrow-scroll-down:hover {
    opacity: 0.7;
    transition: 0.5s linear;
}
.arrow-scroll-down:before {
    width:2px;
    height: 14px;
    content: '';
    display: block;
    background: #000;
    right: 4px;
    position: absolute;
    transform: rotate(45deg);
}
.arrow-scroll-down:after {
    width:2px;
    height: 14px;
    content: '';
    display: block;
    background: #000;
    left: 4px;
    position: absolute;
    transform: rotate(-45deg);
}
.map-section .arrow-scroll-down {
    margin: 30px auto 0;
}
/*leaderboard-section*/
.leaderboard-section {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
.leaderboard-panel {
    width: 500px;
    height: 130px;
    overflow: hidden;
    margin: 40px auto;
    transition: .2s;
}
.leaderboard-section.active .leaderboard-panel {
    height: auto;
}
.leaderboard-panel li {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 19px;
    font: 14px/40px 'montserratregular';
    color: #221e22;
}
.leaderboard-panel .orange {
    color: #fbb040;
}
.winner {
    background: #fbb040;
    box-shadow: 0 4px 11px 0 rgba(131, 76, 22, 0.37);
    color: #fff;
}
.winner .lead-name {
    color: #fff;
    border-left: 1px solid rgba(231, 143, 55, .5);
}

.winner .lead-value {
    color: #221e22;
    font: 16px/40px 'montserratbold';
}
.leaderboard-panel li>div {
    display: flex;
}
.lead-index {
    width: 33px;
    position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.lead-name {
    padding-left: 19px;
}
.lead-value {
    color: #fbb040;
}
.btn.dropdown {
    border: none;
    background: transparent;
    font-family: 'montserratbold';
    margin: 0 auto;
}
.btn.dropdown:focus {
    outline: none;
}
.btn.dropdown i {
    color: #fbb040;
    vertical-align: bottom;
    margin-left: 15px;
    font-size: 30px;
}
.btn.dropdown.less i {
    transform: rotate(180deg);
}
.btn.dropdown.less {
    display: none;
}
.leaderboard-section.active .btn.dropdown.less {
    display: block;
}
.leaderboard-section.active .btn.dropdown.all {
    display: none;
}
/* overview */
.overview-section {
    padding: 21px 0 100px;
}
h4 {
    font-family: 'montserratregular';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    color: #221e22;
}
.apply-btn {
    margin: 40px 0 0;
    font-size: 18px;
    color: #ffffff;
    width: 325px;
    height: 62px;
    font-family: 'montserratregular';
    text-transform: uppercase;
    line-height: 62px;
}
.std-btn {
    text-transform: uppercase;
    display: block;
    font-family: 'montserratregular';
    color: #fff;
    background-color: #fbb040;
    padding: 0;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
    -webkit-transition: opacity .45s cubic-bezier(0.25,1,0.33,1),-webkit-transform .45s cubic-bezier(0.25,1,0.33,1);
    position: relative;
}
.overview-box {
    overflow: hidden;
    margin: 30px 0 0;
}
.overview-box p {
    margin-bottom: 15px;
}
.overview-left {
    float: left;
    padding: 0 7% 0 0;
    margin: 0 7% 0 0;
    width:50%;
    border-right: solid 1px #c9c9c9;
}
.overview-right {
    float: right;
    width:43%;
}
.overview-gall-img {
    position: relative;
    width: 221px;
    height: 124px;
    margin: 0 auto;
    display: block;
    transition: 0.5s linear;
}
.overview-gall-image {
    display: block;
    max-width: 100%;
    z-index: 12;
    position: relative;
}
.overview-gall-img:before {
    width: 221px;
    height: 124px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    position: absolute;
    top:2px;
    left: 3px;
    z-index: 10;
}
.overview-gall-img:after {
    width: 221px;
    height: 124px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    top:5px;
    left: 7px;
    z-index: 9;
    position: absolute;
}
.overview-gall-val {
    display: block;
    margin: 22px 0 0;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.overview-gall-name {
    font-family: 'montserratregular';
    font-size: 14px;
    text-align: center;
    color: #000000;
    display: block;
}
.time-of-day {
    position: absolute;
    top:-70px;
    right: -60px;
}
.overview-time-box {
    position: relative;
}
.overview-time {
    margin: 0;
    padding: 170px 90px 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.overview-gall-img:hover {
    opacity: 0.7;
    transition: 0.5s linear;
}
.timeline-box {
    margin: 105px 0 0;
}
.timeline {
    width:100%;
    height: 2px;
    background-color: #d8d8d8;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20% 0 9%;
    margin: 0;
}
.timeline-circle {
    background: #fbb040;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    position: relative;
    margin: -10px -23px 0;
    border: 5px solid #fcdcac;
    -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 2px 3px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 2px 3px rgba(255, 255, 255, 1);
}
.timeline-steps {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5%;
    margin: 90px 0 44px;
}
.timeline-steps .timeline-step {
    width: 20%;
}
.timeline-step-date {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #221e22;
    margin: 0 0 3px;
}
.timeline-step-text {
    font-size: 18px;
    color: #221e22;
    display: block;
}
/* how to start */
.how-to-started {
    padding: 90px 0 65px;
    background-color: #ebebeb;
}
.how-start-left {
    float: left;
    width:45%;
}
.how-start-right {
    float:right;
    width:492px;
}
.how-start-holder {
    overflow: hidden;
}
.slack-btn {
    width: 170px;
    margin-top: 10px;
    border: 1px solid #221e22;
    border-radius: 2px;
    background: transparent;
    display: block;
    text-align: center;
    cursor: pointer;
	line-height:36px;
	vertical-align:middle;
	font-size: 15px
}
.slack-btn img {
	display:inline-block;
	vertical-align:middle;
}
.slack-btn:hover {
    background: #fff;
    border-color: #b4b4b4;
}
.start-list li .slack-btn span {
    display: inline-block;
    width: auto;
    float: none;
    padding-left: 13px;
    color: #221e22;
    font-size: 15px;
    line-height: 36px;
    font-family: 'montserratregular';
}
.start-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    counter-reset: myCounter;
}
.start-list li {
    overflow: hidden;
    margin: 40px 0 0;
	font-size:16px;
}
.start-list li:first-child {
    margin: 0;
}
.start-list li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    position: absolute;
    text-align: center;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #221e22;
    margin: 5px 0 0;
    border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border: solid 1px #221e22;
}
.start-list li span {
    float: left;
    width:100%;
    padding: 0 0 0 60px;
}
.start-gall-box img {
    width: 70%;
}
.how-start-text {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #221e22;
    margin: 0 0 14px 0;
}
.how-start-gall {
    margin: 32px 0 0;
    text-align: center;
}
.how-start-right .how-start-gall:first-child {
    margin: 0;
}
.how-start-left .start-title {
    margin-top: 0;
}
.how-start-left .apply-box {
    margin-left: 10px;
}
/* evaluation */
.evaluation-section .descr-datasets {
    display: flex;
    justify-content: space-around;
    color: #221e22;
}
.descr-datasets .left-column,
.descr-datasets .right-column {
    flex: 1;
}
.descr-datasets .left-column {
    margin-right: 65px;
}
.descr-datasets .right-column img {
    width: 73%;
    height: auto;
    object-fit: cover;
}
.descr-datasets p {
    margin-bottom: 30px;
}
.descr-datasets .no-margin {
    margin-bottom: 5px;
}
.descr-datasets img {
    margin-bottom: 30px;
}
.evaluation-section {
    padding: 58px 0 0;
}
.evaluation-text {
    font-size: 16px;
    color: #221e22;
    margin: 32px 0;
    display: block;
}
.evaluation-text b {
    font-family: 'Open Sans';
}
.evaluation-bold {
    font-weight: 600;
    font-style: italic;
}
.evaluation-left {
    width:46%;
    padding: 0 3% 0 0;
    float: left;
}
.evaluation-right {
    float: left;
    width:54%;

}
.evaluation-content {
    overflow: hidden;
}
.evaluation-content ul {
    margin-left: 30px;
}
.evaluation-content li {
    list-style-type: disc;
}
.evaluation-section .eval-title {
    margin-bottom: 10px;
}
/* competition */
.competition-content {
    margin-top: 30px;
    padding: 15px 0 60px;
    overflow: hidden;
}
.competition-left {
    width:46%;
    padding: 0 3% 0 0;
    float: left;
}
.competition-right {
    float: left;
    width:54%;
}
.competition-title {
    display: block;
    margin: 0 0 40px;
}
.competition-rules-list {
    list-style: disc;
    font-size: 16px;
    padding: 0 0 0 20px;
    margin: 0;
}
.competition-rules-list li {
    margin: 5px 0;
}
.competition-sub {
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #221e22;
}
.competition-text {
    font-size: 16px;
    display: block;
    margin: 32px 0 0;
}
.challenge-form {
    margin: 28px 0 0;
}
.challenge-form input {
    margin-right: 10px;
    transform: scale(1.3);
}
.agree-challenge-label {
    font-size: 16px;
    color: #221e22;
    cursor: pointer;
}
.agree-challenge-bold {
    font-weight: 600;
    line-height: 25px;
    color: #388e3c;
}
.apply-challenge {
    height: 62px;
    line-height: 62px;
    margin: 29px 0 0 20px;
    font-size: 18px;
}
.apply-challenge-block {
    background: #979797!important;
    transform: none!important;
    cursor: pointer;
	-webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.apply-challenge-block:hover{opacity:0.7;}

.buttons {
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
}
.apply-challenge:first-child {
    width: 40%;
}
.apply-challenge:last-child {
    width: 60%;
}
/*slider*/
.carousel-overlay {
    height: 100vh;
    background: rgba(34, 30, 34, .85);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.slick-initialized {
    height: 70%;
}

.slick-list, .slick-track {
    height: 100% !important;
}

.prev-arrow {
    z-index: 50;
}
.slick-slide > img {
    width: 100%;
    padding: 0 30px 0 30px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.slick-slide {
    height: 100% !important;
}

.carousel-overlay>div:not(.close-carousel) {
    margin-top: 14vh;
}

.close-carousel {
    position: absolute;
    right: 32px;
    top: 30px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
}
.close-carousel:hover {
    opacity: .3;
}
.carousel-overlay p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans';
}
.close-carousel:before, .close-carousel:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}
.close-carousel:before {
    transform: rotate(45deg);
}
.close-carousel:after {
    transform: rotate(-45deg);
}
.next-arrow {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}
.prev-arrow {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
}
@media only screen and (min-width: 1700px) {
    .challenge-bn {
        height: 700px;
    }
    .challenge-bn-title {
        margin-top: 260px;
    }
}
@media only screen and (max-width: 992px) {
    .close-carousel {
        top: 0;
    }
}
@media only screen and (max-width:768px) {
    .challenge-bn-down {
        font-size: 30px;
        padding: 0 9px;
    }
    .challenge-bn-down .left-data img {
        width: 20px;
    }
    .challenge-bn-down .right-data div {
        line-height: 34px;
        width: 34px;
        font-size: 26px;
    }
    .challenge-bn-down .center-data {
        width: 163px;
        line-height: 45px;
        font-size: 25px;
    }

    .map-section {
        display: none;
    }
    .challenge-text-left {
        float: none;
        width:100%;
    }
    .challenge-text-right {
        float: none;
        margin: 0 0 30px;
        width:100%;
    }
    .challenge-text-right img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .overview-left {
        float: none;
        width:100%;
        margin: 0;
        height: auto;
        border-right: none;
        padding: 0;
        position: relative;
    }
    .overview-left:after {
        height: 1px;
        background-color: #c9c9c9;
        width:60%;
        margin: 40px 20%;
        display: block;
        content: '';
    }
    .overview-right {
        float: none;
        width:100%;
    }
    .overview-time {
        padding: 120px 0 0;
    }
    .map-popup {
        left: -202px;
    }
    .map-sticker-holder:hover .scrollable {
        overflow: scroll;
    }
    .challenge-bn-title {
        font-size: 25px;
        margin-top: 110px;
    }
    .challenge-bn-sub {
        font-size: 15px;
        max-width: 60%;
        margin: 0 auto;
    }
    .challenge-bn {
        height: 368px;
    }
    h3 {
        font-size: 18px;
    }
    .map-section {
        padding: 8px 0;
    }
    .overview-section {
        padding: 0 0 40px;
    }
    h4 {
        font-size: 18px;
        text-align: center;
    }
    .overview-box {
        font-size: 12px;
        line-height: 24px;
    }
    .map-section .arrow-scroll-down {
        margin: 10px auto 0;
    }
    .container {
        padding: 0 23px;
    }
    .apply-btn {
        width:230px;
        height: 45px;
        margin: 30px auto 0;
        font-size: 13px;
        line-height: 45px;
    }
    .time-of-day {
        width:100px;
        height: 100px;
        top: -50px;
        right: -40px;
    }
    .overview-gall-img,
    .overview-gall-img:before,
    .overview-gall-img:after {
        width: 158px;
        height: 89px;
    }
    .overview-time {
        width:158px;
        margin: 0 auto;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .overview-gall-val {
        font-size: 15px;
        line-height: 20px;
        margin: 15px 0 5px;
    }
    .overview-gall-name {
        line-height: 16px;
        font-size: 13px;
    }
    .overview-time-box {
        margin: 90px 0 0;
    }
    .overview-time .overview-time-box:first-child {
        margin: 0;
    }
    .timeline-box {
        margin: 90px 0 0;
        position: relative;
    }
    .timeline-steps {
        width:280px;
        margin: 37px auto 44px;
        padding: 0;
    }
    .timeline-step-date {
        font-size: 15px;
    }
    .timeline-step-text {
        font-size: 13px;
        max-width: 123px;
        line-height: 16px;
        float: right;
    }
    .timeline-steps .timeline-step {
        text-align: right;
        width: 100%;
    }
    .timeline-steps .timeline-step:nth-child(2n) {
        text-align: left;
    }
    .timeline-steps .timeline-step:nth-child(2n) .timeline-step-text {
        float: left;
    }
    .timeline {
        transform: rotate(90deg);
        top: 250px;
        position: absolute;
        left: 50%;
        width: 350px;
        margin: 0 0 0 -175px;
        padding: 0 37px;
    }
    .timeline-circle {
        width:23px;
        height: 23px;
        border: 5px solid #fcdcac;
    }
    .challenge-text {
        font-size: 12px;
        line-height: 24px;
        margin: 20px 0 0;
    }
    .challenge-text-section .clearfix:before,
    .challenge-text-section .clearfix:after {
        display: none;
    }
    .challenge-text-section .container .clearfix:first-child {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column-reverse;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .title-nano {
        margin: 40px 0 20px;
    }
    .challenge-title-sub {
        font-size: 12px;
        line-height: 24px;
    }
    .challenge-text-section {
        padding-bottom: 20px;
    }
    .how-to-started {
        padding: 40px 0 70px;
    }
    .how-start-left {
        float: none;
        width: 100%;
        font-size: 12px;
    }
    .start-list {
        margin-top: 0;
    }
    .start-list li:before {
        position: static;
        display: block;
        margin: 0 auto 15px;
    }
    .start-list li span {
        float: none;
        padding: 0;
    }
    .how-start-right {
        float: none;
        width: 100%;
        margin: 50px 0 0;
    }
    .start-gall-box img {
        width: 75%;
    }
    .how-start-text {
        text-align: center;
        font-size: 13px;
    }
    .evaluation-section {
        padding: 0 0 10px;
    }
    .evaluation-section p {
        font-size: 12px;
        line-height: 24px;
    }
    .evaluation-section .descr-datasets {
        flex-direction: column;
    }
    .evaluation-section .descr-datasets:first-child {
        flex-direction: column-reverse;
    }
    .descr-datasets .left-column {
        margin-right: 0;
        font-size: 12px;
        line-height: 24px;
    }
    .descr-datasets .right-column img {
        margin-bottom: 30px;
    }
    .descr-datasets .left-column, .descr-datasets .right-column p {
        font-size: 12px;
        line-height: 24px;
    }
    .descr-datasets .left-column, .descr-datasets .right-column ul li {
        font-size: 12px;
        line-height: 24px;
    }
    .evaluation-text {
        font-size: 12px;
        line-height: 24px;
        margin: 15px 0 0;
    }
    .evaluation-text ul li {
        font-size: 12px;
    }
    .evaluation-left,
    .evaluation-right,
    .competition-left,
    .competition-right {
        width: 100%;
        padding: 0;
        float: none;
    }
    .competition-title {
        margin: 0 0 20px;
    }
    .competition-rules-list li {
        font-size: 12px;
        line-height: 24px;
        margin: 0;
    }
    .competition-right {
        margin: 50px 0 0;
    }
    .competition-sub {
        text-align: center;
        font-size: 13px;
        margin: 0 0 20px;
    }
    .competition-text {
        font-size: 12px;
        margin: 20px 0 0;
    }
    .agree-challenge-label {
        font-size: 13px;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0 0 0 10px;
        line-height: 20px;
    }
    #agree-challenge {
        margin-right: 20px;
    }
    .challenge-form {
        margin: 35px 0 0;
        overflow: hidden;
    }
    .apply-challenge {
        width: 230px;
        height: 45px;
        line-height: 45px;
        margin: 35px auto 0;
        font-size: 13px;
    }
    .apply-challenge:first-child, .apply-challenge:last-child {
        width: 100%;
    }
    .buttons {
        flex-direction: column;
    }
    .competition-content {
        padding-bottom: 15px;
    }

}
@media only screen and (max-width: 480px) {
    .challenge-bn {
        background: url('../images/challenge/challenge-bn-mobile.png') no-repeat 50% 0;
        background-size: cover;
        background-position-y: bottom;
    }
    .challenge-bn-down .left-data, .challenge-bn-down .right-data {
        padding: 5px;
    }
    .challenge-bn-down .left-data img {
        vertical-align: baseline;
        margin-right: 4px;
    }
    .challenge-bn-down {
        font-size: 20px;
    }
    .challenge-bn-down .center-data {
        line-height: 16px;
        width: 87px;
        font-size: 12px;
    }
    .challenge-bn-down .right-data div {
        line-height: 26px;
        width: 26px;
        font-size: 19px;
    }
    .challenge-bn-down .left-data img {
        width: 14px;
    }
}
/*foma TOS*/
.pressKit-wrap {
    width: 85%;
    color: #444;
    margin: 2% auto;
    padding: 5%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    transition: top 0.2s linear,box-shadow 0.2s linear;
}
.pressKit-wrap p {
    margin-bottom: 27px;
}
/*challengesUpload*/
.github {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
.github>div {
    margin-right: 20px;
}
.github h3 {
    font: 24px/34px 'montserratregular';
    color: #221e22;
    font-weight: normal;
    text-align: left;
    width: 240px;
    height: 68px;

}
.download-btn {
    border: solid 2px #fbb040;
    text-align: center;
    line-height: 62px;
    text-transform: uppercase;
    max-width: 300px;
    margin-bottom: 10px;
}
.download-btn a {
    color: #fbb040;
}
.prize-section {
    background: #221e22;
    color: #fbb040;
    padding: 40px 0 46px;
    font-family: 'montserratregular';
}
.prize-section .eval-title {
    color: #fbb040;
    text-align: center;
    margin-bottom: 49px;
}
.prize-section ul {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.prize-section li {
    list-style-type: none;
    text-align: center;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.prize-section li:first-child {
    margin-left: 0;
}
.prize-section .eval-title {
    font-family: 'montserratregular';
    font-size: 26px;
}
.prize-section .title {
    font-size: 24px;
    margin-bottom: 33px;
    color: #fff;
}
.prize-section .costs {
    margin-top: 40px;
    font-size: 47px;
}
.midi-cup {
    width: 80px;
}
.sm-cup {
    width: 52px;
}
@media only screen and (max-width: 1400px) {
    .prize-section .costs {
        font-size: 41px;
    }
}
@media only screen and (max-width: 1200px) {
    .github {
        flex-direction: column;
    }
    .prize-section ul {
        flex-direction: column;

    }
    .prize-section li {
        margin-bottom: 43px;
        margin-left: 0;
    }
}
/*challenges uploadTo*/
.github.upload {
    border-bottom: 1px solid #ddd;
}
.upload-inputs {
    position: relative;
}
.upload-section {
    margin: 60px auto 47px;
    text-align: center;
    max-width: 640px;
}
.upload-section h2 {
    font-family: 'montserratregular';
    font-size: 35px;
    letter-spacing: 0.1px;
    color: #fbb040;
    font-weight: normal;
}
.upload-section p {
    font-size: 16px;
    line-height: 1.88;
    color: #221e22;
}
.github.upload .download-btn {
    width: 325px;
    margin-bottom: 25px;
}
.overview-section.upload-inputs {
    display: flex;
    padding: 31px 0 52px;
}
.input-file-box .input-hidden {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
}
.input-file-box {
    display: flex;
    align-items: center;
    width: 383px;
    height: 62px;
    position: relative;
    margin-right: 19px;
    flex: 2 1 auto;
}
.input-file-box input:focus {
    outline: 0;
}
.input-styling {
    flex: 3 1 auto;
    border: solid 2px #fbb040;
    line-height: 58px;
    padding: 0 20px;
    box-sizing: border-box;
}
.choose-file {
    display: flex;
    flex: 1 1 100%;
}
.choose-file .browse {
    flex: 1 1 138px;
    background-color: #fbb040;
    color: #fff;
    font-family: 'montserratregular';
    font-size: 18px;
    text-transform: uppercase;
    line-height: 62px;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 0 20px;
}
.upload-inputs .download-btn {
    width: 149px;
    height: 61px;
    background-color: #e0e0e0;
    border: 1px solid transparent;
    color: #fff;
    flex: 1 1 auto;
    font-size: 16px;
    font-family: 'montserratregular';
}
.download-btn:focus {
    outline: 0;
}
.upload-inputs .download-btn.active {
    background-color: #fbb040;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .overview-section.upload-inputs {
        flex-direction: column;
        align-items: center;
    }
    .input-file-box {
        margin-bottom: 19px;
    }
}
@media only screen and (max-width: 525px) {
    .input-file-box {
        width: 100%;
    }
}

.upload-inputs-wrap {
    position: relative;
}
/*progress-bar*/
.progress-wrap {
    display: flex;
    width: 100%;
}
.react-progress-bar {
    visibility: visible;
    opacity: 1;
    transition: all 400ms;
    z-index: 9999;
    border: solid 2px #fbb040;
    height: 62px;
    width: 100%;
}
.download-btn.cancel {
    background: #ee5622;
    flex: 1 1 auto;
    line-height: 57px;
    color: #fff;
    font-size: 16px;
    font-family: 'montserratregular';
}
.react-progress-bar.react-progress-bar-on-top {
    height: 100%;
}

.react-progress-bar.react-progress-bar-hide {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}

.react-progress-bar-percent {
    height: 58px;
    background: #fbb040;
    transition: all 200ms ease;
}
.progress-info-wrap {
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex: 9 1 auto;
    position: relative;
    margin-right: 19px;
}
.progress-info {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 19px;
    right: 21px;
    z-index: 10000;
}
.upload-error {
    border: red;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    margin: auto;
    color: red;
}
.upload-succeeded {
    background-color: lightgreen;
    padding-top: 10px;
    padding-bottom: 10px;
}
.submition-info {
    text-align: left;
}
/*# sourceMappingURL=challenge.css.map */