@import "style.css";

.citystream-bn {
    background: url(../images/city-bn.png) no-repeat;
    background-size: cover;
}
.citystream-bn:before {
    z-index: 10;
}
.citystream-bn-title {
    font-family: 'montserratregular';
    font-size: 60px;
    color: #fbb040;
    line-height: 70px;
    display: block;
    width:100%;
    text-align: center;
}
.citystream-bn-sub {
    font-family: 'montserratregular';
    font-size: 45px;
    color: #fff;
    line-height: 55px;
    display: block;
    width:100%;
    text-align: center;
}
.city-bn-center {
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* citysteam section */
.citystream-section {
    padding: 0 0 120px;
    padding-top: calc(100vh + 62px);
	font-size:16px;
}
.citysteam-title {
    text-transform: none;
    color: #221e22;
    text-align:center;
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
}
.citystream-title-color {
    font-weight: bold;
}
.orange {
    color: #fbb040
}
.citystream-sub {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.citystream-sub-text {
    margin: 10px 0;
}
.citystream-video-holder {
    margin: 60px 0 0;
}
.citystream-video {
    margin: 0 auto;
    display: block;
}
/* how it works */
.works-how-section {
    padding: 50px 0 0;
    background-color: #221e22;
}
.works-how-title {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fbb040;
    font-family: 'montserratregular';
}
.ion-ios-arrow-thin-right {
    width: 25px;
    height: 40px;
    font-size: 40px;
    text-align: left;
    color: #fbb040;
    content: '';
    display: block;
}
.works-how-list {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0 120px;
}
.works-how-box {
    position: relative;
    font-size: 16px;
    color: #fff;
    width:23%;
    margin: 0 47px;
}
.works-how-arrow {
    position: absolute;
    right: -58px;
    top:50%;
    margin: -20px 0 0;
}
.how-works-img {
    display: block;
    width:100%;
}
/* contacts us */
.contacts-us-section {
    padding: 65px 0 110px;
}
.contacts-us-section h3 {
	font-size:24px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
.contacts-us-form {
    max-width: 920px;
    margin: 105px auto 0;
}
.contacts-us-form .sign-input {
    color: #000000;
    font-size: 20px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 600;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    line-height: 36px;
    height: 36px;
    z-index: 100;
    position: relative;
	border-bottom: 1px solid #b6b6b6;
}

.contacts-us-form .sign-input-box label:after,
.contacts-us-form .sign-input-box label:before { border:none !important;}
.contacts-area:focus {
	padding-top:21px !important;
	margin-top:-18px;
}
.contacts-us-form .sign-input:focus {
	padding-top:18px;
	margin-top:-18px;
	height:54px;
}
.contacts-area ~ label,
.contacts-us-form .sign-input ~ label {
    transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -webkit-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
	font-family: 'Open Sans';
    color: #221e22;
    font-size: 14px;
    line-height: 18px;
	font-weight:400;
    position: absolute;
}
.contacts-area ~ label { top:0;}
.contacts-area:focus ~ label,
.contacts-area:not(:focus):valid ~ label {top:-25px;}
.contacts-us-form .sign-input ~ label {top:0px;}
.contacts-us-form .sign-input:focus ~ label,
.contacts-us-form .sign-input:not(:focus):valid ~ label {top: -20px; }

.contacts-form .sign-input-box {
    width:100%;
    float: none;
}
.contacts-us-box {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 65px;
}
.contacts-us-form .sign-input-box {
    width:48%;
    float: none;
}
.contacts-us-form .minimal-form-input {
    display: block;
}
.contacts-us-form .contacts-textarea {
    width:100%;
}
.contacts-us-form .minimal-form-input label:before {
    border-bottom: 1px solid #b6b6b6;
}
.contacts-us-form .minimal-form-input label:after {
    border-bottom: 2px solid #000;
}
.contacts-us-form .form-check {
    text-align: center;
    margin: 60px 0;
}
.contacts-us-form .send-bt {
    display: block;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    width: 168px;
    height: 49px;
    background-color: #fbb040;
    text-align: center;
    line-height: 49px;
    font-size: 20px;
    font-family: 'montserratregular';
    font-weight: normal;
    border: none;
}
.contacts-us-form .send-bt:hover {
    cursor: pointer;
    opacity: 0.7;
}


/* AY: from old site sitystream.css */
.sub-logo {
    font: 20px/33px 'open_sansregular';
    color: #fff;
    margin-left: 32px;
    padding-left: 26px;
    position: relative;
}
.sub-logo.inverted {
    color: #221e22;
}
.sub-logo:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #666;
    opacity: .7;
    width: 2px;
    height: 24px;
}
.sub-logo span {
    color: #f8a132;
}
.map-bg {
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.img-container {
    height: 100%;
}
.map-bg img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}
.city-slogan {
    position: absolute;
    bottom: 60px;
    left: 58px;
    letter-spacing: 0.3px;
    font-family: 'montserratregular';
}
.city-slogan h1 {
    font-size: 40px;
    line-height: 1.48;
    color: #f8a132;
    letter-spacing: 0.3px;
    font-family: 'montserratregular';
    font-weight: normal;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
.city-slogan h2 {
    font-size: 34px;
    line-height: 1.74;
    color: #fff;
    letter-spacing: 0.3px;
    font-family: 'montserratregular';
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}
.btn-drag {
    position: absolute;
    right: calc(11% - 54px);
    top: 50%;
    margin-top: 11px;
    background: #f8a132;
    color: #221e22;
    font-size: 9px;
    border-radius: 100px;
    line-height: 21px;
    border: none;
    text-transform: uppercase;
    font-family: 'montserratregular';
    cursor: move;
    padding-top: 0.2em;
    width: 110px;
    display: flex;
    justify-content: space-around;
}
.city-description {
    padding: 62px 0 70px;
    margin: 100vh auto 0;
    width: 50%;
    text-align: center;
}
.city-description {
    font-family: 'open_sansregular';
    color: #221e22;
}
.city-description h2 {
    margin: 0;
    font-weight: normal;
}
.city-header {
    font-family: 'open_sansbold';
}
.city-header>span {
    color: #f8a132;
}
.city-description p {
    margin-top: 25px;
}
.contact-btn {
    background: #f8a132;
    color: #221e22;
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    font-family: 'montserratregular';
    border-radius: 100px;
    padding: 0 42px;
    cursor: pointer;
    padding-top: 2px;
}
.how-to {
    padding: 75px 0 98px;
    background: #221e22;
}
.how-to h2  {
    text-align: center;
    color: #f8a132;
    text-transform: uppercase;
    font-family: 'montserratregular';
    font-weight: normal;
    margin: 0 0 45px;
}
.columns-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
}
.columns-block p {
    max-width: 282px;
    color: #fff;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 24px;
}
.arrow {
    align-self: center;
}
.arrow i {
    font-size: 40px;
    color: #f8a132;
}
.img-road img {
    width: 100%;
}
.img-road {
    height: 400px;
    width: 100%;
    background: url('../images/road-visual-4.png') no-repeat;
    background-size: 100% 100%;
}
.information {
    max-width: 1024px;
    margin: 0 auto;
    padding: 75px 0 67px;
}
.text-block {
    min-height: 190px;
    margin-bottom: 79px;
    font-size: 16px;
}
.text-block p {
    line-height: 27px;
    font-size: 16px;
}
.embedded-video {
    margin-top: 40px;
    margin-bottom: 40px;
}
.columns {
    display: flex;
    justify-content: space-between;
    color: #221e22;
    font-size: 20px;
}
.columns:first-child {
    margin-bottom: 79px;
}
.columns h2 {
    text-transform: uppercase;
    font-family: 'montserratregular';
    font-weight: normal;
    margin: 0 0 31px;
    font-size: 24px;
}
.columns>div {
    max-width: 484px;
}
.columns-block {
    padding: 0 2%;
}
.testimonial-block {
    background: #ebebeb;
    padding: 20px 31px 38px 20px;
    display: flex;
    align-items: flex-start;
    height: 278px;
}
.testimonial-block img {
    margin-right: 27px;
}
.figcaption-block {
    text-align: left;
    position: relative;
}
.figcaption-block .img-circle {
    width: 73px;
    height: 73px;
    border-radius: 100px;
    background: transparent;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 67px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
}
.img-circle img {
    width: 100%;
    border-radius: 50%;
}
.figcaption-block .img-circle i {
    color: #221e22;
    font-size: 45px;
}
.figcaption-block h2 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
}
.figcaption-block p {
    font-size: 18px;
}
.figcaption-block.right {
    text-align: right;
}
.figcaption-block.right .img-circle {
    right: 0;
    left: inherit;
}
figcaption {
    margin-left: 83px;
    margin-top: 11px;
}
.figcaption-block.right figcaption{
     margin-left: 0;
     margin-right: 83px;
 }
.testimonial {
    font-family: 'open_sanslight';
    margin-top: 17px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    font-style: italic;
}
.columns h2 span {
    color: #f8a132;
}
.contact-form-block {
    background: #221e22;
    padding: 75px 0 30px;
}
.contact-form-block h2 {
    text-transform: uppercase;
    font-family: 'montserratregular';
    color: #f8a132;
    font-weight: normal;
    text-align: center;
    margin-bottom: 47px;
    margin-top: 0;
}
.contact-form-block form {
    width: 470px;
    margin: 0 auto;
}
.contact-form-block input {
    border: none;
    width: 225px;
    outline: none;
    padding: 0 20px;
    font: 14px/41px 'open_sansbold';
    box-sizing: border-box;
}
.contact-form-block input::-webkit-input-placeholder,
.contact-form-block textarea::-webkit-input-placeholder {
    font-family: 'open_sansregular';
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.1px;
    color: #b4b4b4;
}
.contact-form-block input::-moz-placeholder,
.contact-form-block textarea::-moz-placeholder {
    font-family: 'open_sansregular';
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.1px;
    color: #b4b4b4;
}
.contact-form-block input:-ms-input-placeholder,
.contact-form-block textarea:-ms-input-placeholder{
    font-family: 'open_sansregular';
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.1px;
    color: #b4b4b4;
}
.contact-form-block input:-moz-placeholder,
.contact-form-block textarea:-moz-placeholder{
    font-family: 'open_sansregular';
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.1px;
    color: #b4b4b4;
}
.contact-form-block .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contact-form-block .full-width {
    width: 470px;
}
.contact-form-block textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    font: 14px/41px 'open_sansbold';
    border: none;
    outline: none;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.contact-form-block input[type='checkbox'] {
    width: auto;
}
.contact-form-block .input-holder{
    position: relative;
}
.mark {
    font-size: 20px;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0.1px;
    color: #ee5622;
    position: absolute;
    top: 0;
    right: 10px;
}
.check-block {
    position: relative;
    margin-top: 14px;
}
.check-block label {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #fbb040;
    box-sizing: border-box;
}
.check-block label:after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #f8a132;
    border-radius: 1px;
    opacity: 0;
}
.check-block input[type=checkbox] {
    visibility: hidden;
}
.check-block input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.check-label {
    font: 16px/19px 'open_sansitalic';
    letter-spacing: .1px;
    color: #f8a132;
    margin-left: 15px;
}
.row-btn {
    text-align: center;
}
.row-btn .contact-btn {
    margin-bottom: 44px;
    font-family: 'montserratregular';
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 180px;
}


@media only screen and (max-width : 992px) {
    /*.img-container {*/
        /*position: relative;*/
    /*}*/
    /*.city-slogan {*/
        /*bottom: 120px;*/
    /*}*/
    /*.city-description {*/
        /*padding-top: 0;*/
    /*}*/
    .map-bg {
        height: auto;
    }
    .btn-drag {
        top: inherit;
        bottom: 22px;
        width: 90px;
        right: calc(11% - 44px);
    }
    .columns-block {
        flex-direction: column;
        align-items: center;
    }
    .arrow {
        display: none;
    }
    .columns {
        flex-direction: column;
    }
    .how-to {
        padding: 43px 18px 54px 20px;
    }
    .how-to h2 {
        margin-bottom: 34px;
    }
    .columns-block p {
        max-width: 450px;
        margin-bottom: 63px;
    }
    .columns>div {
        max-width: 100%;
    }
    .testimonial-block {
        height: auto;
    }
    .text-block {
        font-size: 18px;
        min-height: auto;
        margin-bottom: 40px;
    }
    .information {
        padding: 41px 40px 10px 40px;
    }
    .img-road {
        background-size: cover;
    }
    .figcaption-block {
        margin-bottom: 67px;
    }
    .figcaption-block.right .img-circle {
        left: 0;
        right: inherit;
    }
    .figcaption-block.right {
        text-align: left;
        margin-bottom: 0;
    }
    .figcaption-block.right figcaption {
        margin-left: 83px;
        margin-right: 0;
    }
}
@media only screen and (max-width : 525px) {
    .sub-logo {
        display: none;
    }
    video {
        display: none;
    }
    .resize-img {
        width: 100% !important;
        border-left: none;
    }
    #drag-button {
        display: none;
    }
    .city-slogan {
        top: 50%;
        left: 0;
        right: 0;
        height: 30%;
        width: 100%;
        margin: -15% auto 0;
    }
    .city-slogan h1 {
        font-size: 28px;
        margin-left: 27px;
    }
    .city-slogan h2 {
        font-size: 16px;
        margin-left: 27px;
    }

    .city-description {
        width: 100%;
        padding: 40px 18px;
        box-sizing: border-box;
    }
    .contact-btn {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .columns-block p {
        margin-bottom: 43px;
    }

    .information {
        padding: 30px 20px 42px 19px;
    }

    .columns>div>h2 {
        margin: 0 auto 37px;
        text-align: center;
        max-width: 176px;
        word-break: break-word;
        word-wrap: break-word;
    }
    .text-block {
        font-size: 15px;
        margin-bottom: 70px;
    }

    .testimonial {
        font-size: 18px;
        line-height: 25px;
    }

    .figcaption-block p {
        font-size: 15px;
        line-height: 18px;
    }

    .columns:first-child {
        margin-bottom: 0;
    }
    .columns-block p {
        font-size: 15px;
    }
    .contact-form-block form {
        width: 280px;
    }
    .contact-form-block .row {
        flex-direction: column;
        margin-bottom: 0;
        text-align: center;
    }
    .contact-form-block input {
        width: 280px;
        margin-bottom: 20px;
    }
    .contact-form-block .row>input {
        margin: 0 auto 20px;
        width: 280px;
    }
    .mark {
        right: 28px;
    }
    .row-btn .contact-btn {
        margin-top: 35px;
        margin-bottom: 37px;
    }
    .contact-form-block {
        padding: 43px 0 0;
    }
    .img-road {
        background-size: cover;
        background-position: center center;
        height: 470px;
    }
}
/*drag-video*/
.img-container {
    height: 100%;
}
.img-container video {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: fill;
}
.img-container .resize-img {
    border-left: solid 1px #979797;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 11%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.resize-img img {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    max-width: none;
    width: auto;
    min-width: 100vw;
}
