@import "style.css";

.insurance-img {
    min-height: 500px;
    background: url('../images/insurance/head_banner.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insurance-img h1 {
    font: 400 42px/45px 'montserratregular';
    color: #fff;
    text-transform: uppercase;
}
.insurance-img h3 {
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font: 24px/27px 'montserratregular';
}
.insurance-page .info-blocks {
    padding: 0 0 176px;
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}
.insurance-page .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.insurance-page .info-text {
    max-width: 520px;
    font-size: 20px;
    line-height: 32px;
}
.insurance-page .info-left-img,
.insurance-page .info-right-img {
    width: 470px;
}
.insurance-page .info-box-right .info-content {
    width: auto;
    margin-top: 0;
}
.insurance-page .info-img {
    width: 100%;
}
.insurance-page .info-title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
}
