@import "style.css";

.insurance-img {
    min-height: 500px;
    background: url('../images/insurance/head_banner.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insurance-img h1 {
    font: 400 42px/45px 'montserratregular';
    color: #fff;
    text-transform: uppercase;
}
.insurance-img h3 {
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font: 24px/27px 'montserratregular';
}
.insurance-page .info-blocks {
    padding: 0 0 176px;
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}
.insurance-page .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.insurance-page .info-text {
    max-width: 520px;
    font-size: 20px;
    line-height: 32px;
}
.insurance-page .info-left-img,
.insurance-page .info-right-img {
    width: 470px;
}
.insurance-page .info-box-right .info-content {
    width: auto;
    margin-top: 0;
}
.insurance-page .info-img {
    width: 100%;
}
.insurance-page .info-title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
}
.contact-form-block {
    padding: 72px 0 122px;
    background: #fafafa;
}
.contact-form-block h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}
.contact-form {
    margin: 0 auto;
    max-width: 920px;
}
.contact-form .input-inline {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.contact-form .input-inline input {
    width: 435px;
    color: #000;
    background: transparent;
    font-size: 20px;
    line-height: 25px;
    border: none;
    border-bottom: 1px solid #b6b6b6;
    padding: 30px 0 9px;
    font-family: 'Open Sans';
	position:relative;
	z-index:4;
}
.contact-form .input-inline div {
    position: relative;
}
/*.contact-form .input-inline label {
    color: #abaaaa;
    position: absolute;
    top: 32px;
    left: 0;
    opacity: 0;
    transition: .3s;
}
.contact-form .input-inline label span {
    color: #d71717;
}
.contact-form .input-inline input:focus + label {
    outline: 0;
    top: 0;
    opacity: 1;
}*/

.contact-form .input-inline input::-webkit-input-placeholder {
    font-size: 14px;
}
.contact-form .input-inline input::-moz-placeholder {
    font-size: 14px;
}
.contact-form .input-inline input:-ms-input-placeholder {
    font-size: 14px;
}
.contact-form .input-inline input:-moz-placeholder {
    font-size: 14px;
}
.contact-form .input-inline input:not(:focus):valid ~ label,
.contact-form .input-inline input:focus ~ label {top: 0px; }
.contact-form .input-inline input ~ label {
    transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -webkit-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
	color:#221e22;
    font-size: 14px;
	line-height:26px;
	top:30px;
    left: 0;
    position: absolute;
}
.check-block {
	margin:60px auto 0;
	width:250px;
}
.contact-form input[type="submit"] {
	margin:60px auto 0;
	display:block;
	border:none;
	background:#fbb040;
    font: 400 20px/49px 'montserratregular';
	color:#fff;
	line-height:49px;
	width:168px;
	height:49px;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing: -0.2px;
}
.contact-form input[type="submit"]:hover { opacity:0.8;}
.check-block {
    position: relative;
    margin-top: 66px;
}
.check-block input[type=checkbox] {
    visibility: hidden;
}
.contact-form-block input[type='checkbox'] {
    width: auto;
}
.check-block label {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #979797;
    box-sizing: border-box;
}
.check-block input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.check-block label:after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #979797;
    border-radius: 1px;
    opacity: 0;
}
.check-label {
    font: 14px/19px 'Open Sans';
    letter-spacing: 0.1px;
    color: #abaaaa;
    margin-left: 15px;
}